@font-face {
    font-family: "HelveticaNeueCyrUltraLight";
    src: url("../fonts_turan/Helvetica/HelveticaUltraLight/HelveticaUltraLight.ttf") ;
}

@font-face {
    font-family: "HelveticaNeueCyrMedium";
    src: url("../fonts_turan/Helvetica/HelveticaMedium/HelveticaMedium.ttf");

}

@font-face {
    font-family: "HelveticaNeueCyrBold";

    src: url("../fonts_turan/Helvetica/HelveticaBold/HelveticaBold.ttf") ;

}

@font-face {
    font-family: "HelveticaNeueCyrLight";
    src: url("../fonts_turan/Helvetica/HelveticaLight/HelveticaLight.ttf");
}

@font-face {
    font-family: "HelveticaNeueCyrRoman";
    src: url("../fonts_turan/Helvetica/HelveticaRoman/HelveticaRoman.otf");
}

@font-face {
    font-family: "Comfortaa-Bold";
    src: url("../fonts_turan/comfortaa/Comfortaa-Bold.ttf") format("truetype");
}
ul{
    margin: 0;
}
ul.list-inline li{
    float: left;
}
/* Section */
.turan-section{
    padding: 30px 0 60px 0;
    margin: 30px 0;
}
/* header title */
.title h1{
    margin-bottom: 10px;
    margin-top: 30px;
}
.title.dark div{
    color: #bfbfbf;
    display: inline-block;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 40px 10px 40px;
    margin-bottom: 30px;
}
.title.light{
    color: #fff;
}
.title.light div{
    display: inline-block;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 40px 10px 40px;
    margin-bottom: 30px;
}
/* Speciality block*/
.speciality-block{
    border-radius: 15px;
    height: 270px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    overflow: hidden;
}
.speciality-img{
    height: 125px;
    overflow: hidden;
}
.speciality-img img{
    width: 100%;
}
.speciality-block section{
    height: 68px;
    text-align: center;
    color: #fff;
    display: table;
    width: 100.2%;
}
.speciality-block section h4{
    margin: 0;
    font-size: 0.8rem;
    display: table-cell;
    vertical-align: middle;
}
.speciality-block article{
    padding: 0 15px;
}
.speciality-block article h5{
    margin: 10px 0 0 0;
}
.speciality-block article h3{
    text-align: right;
    margin-top: 10px;
}
.speciality-block article h3 span{
    font-weight: 100;
}
/* Partners */
.partners{
    text-align: center;
}
.partners img{
    margin: 10px;
}
/* Paid speciality block */
.paid-speciality-block{
    border-radius: 5px;
    height: 413px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    overflow: hidden;
}
.paid-speciality-img{
    text-align: center;
}
.paid-speciality-img img{
    padding: 30px 0;
    height: 175px;}
.paid-speciality-img h5{
    font-weight: bold;
    height: 60px;
}
.paid-speciality-block section div{
    font-size: 14px;
}
.paid-speciality-block section{
    height: 50px;
    padding-top: 15px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.paid-speciality-block section div:last-child{
    text-align: right;
}
.paid-speciality-block article{
    margin-top: 30px;
    text-align: right;
}
.paid-speciality-block h6{
    font-size: 14px;
}
.paid-speciality-block article h5{
    margin-top: 15px;
    margin-right: -15px;
    display: inline-block;
    background: #aaa;
    padding: 15px;
    border-top-left-radius: 5px;
    color: #fff;
    font-weight: bold;
}
.paid-speciality-block article span{
    font-weight: normal;
    font-size: 14px;
}
/* Statistics */
.statistics-block{
    height: 170px;
    padding-top: 70px;
    color: #fff;
}
.statistics-block img{
    height: 55px;
}
.statistics-block h3{
    margin-bottom: 0;
    margin-top: 10px;
}
/* Last news */
.last-news-block{
    height: 500px;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    overflow: hidden;
}
.last-news-block a{
    color: #fff;
}
.last-news-content h5{
    margin: 15px 0;
    height: 44px;
    overflow: hidden;
}
.last-news-content h5+p{
    height: 100px;
    overflow: hidden;
}
.last-news-img img{
    border-bottom: 2px solid #1eaace;
}
.last-news-content article{
    margin-top: 15px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 13px;
}
.last-news-content article p{
    margin-bottom: 10px;
}
.last-news-content img{
    display: none;
}
.news-demo{
    height: 210px;
    text-align: center;
    border-bottom: 2px solid #1eaace;
}
.news-demo i{
    color: #ccc;
    padding-top: 80px;
}
/* Footer */
#colophon{
    background: #2d3339;
    color: #e0e0e0;
}
.footer-title{
    margin: 45px 0 15px 0;
    text-align: center;
}
.footer-title.red h6{
    background: #ea6161;
}
.footer-title.green h6{
    background: #2ead85;
}
.footer-title h6{
    padding: 15px 0;
    border-radius: 5px 0 5px 0;
    font-weight: bold;
}
.footer-about p{
    font-size: 14px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}
.footer-contacts{
    margin-top: 15px;
}
.footer-contacts p{
    font-size: 14px;
}
.footer-contacts p i{
    margin-right: 10px;
}
.footer-socials{
    margin-top: 15px;
}
.footer-socials li{
    margin-right: 30px;
    margin-bottom: 15px;
}
.footer-socials li a{
    border: 1px solid #e0e0e0;
    display: block;
    padding: 5px;
    color: #fff;
    width: 36px;
    text-align: center;
    border-radius: 3px;
    transition: all 0.2s ease;
}
.footer-socials li a:hover{
    background: #e0e0e0;
    color: #2d3339;
}
.site-info{
    background: #23272c;
    padding: 15px 0;
}
.site-info p{
    font-size: 12px;
    margin-bottom: 5px;
}
.site-info img{
    padding-left: 15px;
}
.page-up{
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    transition: all 0.2s ease;
}
.page-up:hover{
    color: #23272c;
    background: #e0e0e0;
}